html, body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    color: #333;
    height: 100vh;
}

header {
    padding: 1em 2em;
}

footer {
    padding: 1.5em 2em;
    font-size: .9em;
    color: #444;
}

main {
    height: 83%;
}

.full-height {
    height: 100%;
}


/****************************************************
 * Flex
 ****************************************************/
.flex {
  display: flex; }

.flex.flex-col {
  flex-direction: column; }

.flex.flex-wrap {
  flex-wrap: wrap; }

.flex.v-center {
  align-items: center; }

.flex.h-center {
  justify-content: center; }



/****************************************************
 * App styles
 ****************************************************/

h4 {
    color: #aaa;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1.5em 2em;
}

.channels {
    flex: .3;
    background: #f1f1f1;
}

.channels p {
    padding: 1em 2em;
    cursor: pointer;
}

.channels p:not(.current):hover {
    background: #ededed;
}

.channels p.current {
    background: #e1e1e1;
}


.messages-outer {
    flex: 1;
}


.messages {
    flex: 1; /* vertical full height */
    padding: 0 2em;
    box-sizing: border-box;
}

.messages div {
    margin-bottom: 1em;
}

.messages p.text {
    display: inline-block;
    padding: 1em;
    background: #fff4a9;
}

.messages p.text.me {
    background: #c9ebff;
}


.messages .timestamp {
    padding-right: 1em;
}

.messages .timestamp p:first-child {
    font-size: 1em;
    font-weight: bold;
    color: #444;
}

.messages .timestamp p {
    font-size: .9em;
    color: #777;
}

.message-input {
    display: flex;
    padding: 0 2em;
    width: 100%;
    box-sizing: border-box;
}

.message-input input {
    flex: 1;
    padding: 1em;
    border: solid 2px #ddd;
    margin-right: 2em;
    font-size: 18px;
    transition: border .2s;
}

.message-input input:focus {
    box-shadow: none;
    outline: none;
    border: solid 2px #6f5fdf;
}

.message-input button {
    background: #6f5fdf;
    padding: 1em 1.5em;
    color: #fff;
    border: none;
    font-size: 18px;
}
